<body style="background-color:powderblue;">
<h1>MMPBSA Web Server Project</h1>
<p style="color:gray;"><i>
Using MMPBSA method to estimate the binding free energy of a
Receptor-Ligand System.</i>
</p>

<p>
Upload a receptor-ligand complex PDB file.
And define the required parameters.
</p>

<h2>Parameters You Defined </h2>

<p>Protein Dielectric Constant : <strong>{{pdie}}</strong></p>
<p>Salt Concentration          : <strong>{{saltconc}}</strong></p>
<p>Ligand Name in PDB file     : <strong>{{ligand}}</strong></p>

<h2>Notice</h2>

Your results could be downloaded from the following link once the calculation finished.
<strong><p>{{url}}<p></strong>

</body>
