<body style="background-color:powderblue;">
<h1>MMPBSA Theory and Practice </h1>

<p style="color:gray;">
Using MMPBSA method to estimate the binding free energy of a
Receptor-Ligand System.
</p>

<p>
  MMPBSA method is a estimate of the absolute binding energy through molecular mechnics,
  polar solvation, and non-polar solvation.
</p>

<h3 style="color:iceblue">Molecular Mechnics (MM)</h3>

<h3 style="color:iceblue">Polar Solvation Energy (PB)</h3>

<h3 style="color:iceblue">Non-polar Solvation Energy (SA)</h3>

</body>
